
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */
.icon-twitter:before { content: '\f304'; } /* '' */
.icon-facebook:before { content: '\f308'; } /* '' */